.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.25s ease;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}

.footer__column-link:hover {
  opacity: 0.75;
}
